<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">合同</a></li>
          <li><a href="#">订单</a></li>
          <li><a href="#">发票</a></li>
          <li><a href="#">客户或供应商</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">按日期搜索</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-md-4">
  </div>
</div><!-- /.row -->